<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <!--<joint name="middle_wheel_joint_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>

    <joint name="middle_wheel_joint_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    -->

    <joint name="rear_wheel_joint_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="rear_wheel_joint_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="front_wheel_joint_left">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="front_wheel_joint_right">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>


    <joint name="front_wheel_joint_R">
      <command_interface name="position">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-0.1</param>
        <param name="max">0.1</param>
      </command_interface>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="front_wheel_joint_L">
      <command_interface name="position">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-0.1</param>
        <param name="max">0.1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rear_wheel_joint_R">
      <command_interface name="position">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-0.1</param>
        <param name="max">0.1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="rear_wheel_joint_L">
      <command_interface name="position">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-0.1</param>
        <param name="max">0.1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find osr_gazebo)/config/controller_velocity.yaml</parameters>
    </plugin>
  </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>"imu"</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
            <topicName>imu</topicName>
            <bodyName>imu_link</bodyName>
            <updateRateHZ>100.0</updateRateHZ>
            <gaussianNoise>0.0</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

      <!--Lidar-->
    <gazebo reference="lidar_link">
      <sensor name="laser" type="ray">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <ray> 
          <scan>
            <horizontal>
              <samples>360</samples>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.3</min>
            <max>12</max>
          </range>
        </ray>
        <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <argument>~/out:=scan</argument>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>lidar_link</frame_name>
        </plugin>
      </sensor>
    </gazebo>

    <!-- Camera-->
    <gazebo reference="camera_link">
          <sensor name="camera" type="camera">
              <pose> 0 0 0 0 0 0 </pose>
              <visualize>true</visualize>
              <update_rate>10</update_rate>
              <camera>
                  <horizontal_fov>1.089</horizontal_fov>
                  <image>
                      <format>R8G8B8</format>
                      <width>640</width>
                      <height>480</height>
                  </image>
                  <clip>
                      <near>0.05</near>
                      <far>8.0</far>
                  </clip>
              </camera>
              <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                  <frame_name>camera_link</frame_name>
              </plugin>
          </sensor>
      </gazebo>



</robot>